<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>PIXSELL-W auto</h1>
    <p>PIXSELL-W auto script is a simulator application of pixsel-w web module.</p>
 	<p>Still underconstructing..</p>
  </div>
</div>

</body>
</html>
